@font-face {
	src: url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
	font-family: "Bai Jamjuree";
	weights: 400, 600;
}

* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-family: 'Bai Jamjuree', sans-serif;
	line-height: 1.2; 
}

:root { 
		/* Primary*/
--green500: hsl(171, 66%, 44%);
--blue100: hsl(233, 100%, 69%);

	/* Neutral */
--gray700: hsl(210, 10%, 33%);
--gray500: hsl(201, 11%, 66%);
}

body {
	background-image: url("bg-header-desktop.png");
	background-repeat: no-repeat;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
}
