@font-face {
	src: url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
	font-family: 'Bai Jamjuree';
	weights: 400, 600;
}

* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-family: 'Bai Jamjuree', sans-serif;
	line-height: 1.5; 
}

:root { 
		/* Primary*/
--green500: hsl(171, 66%, 44%);
--blue100: hsl(233, 100%, 69%);

		/* Neutral */
--gray700: hsl(210, 10%, 33%);
--gray500: hsl(201, 11%, 66%);
--footer-bg: hsl(210 10% 95.9%);
}

body {
	background-image: url("bg-header-desktop.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
	color: white;
}

main {
	padding: 2rem 1rem 1rem 1rem;
}

.dark-text {
	color: var(--gray700);
}

.light-text {
	color: var(--gray500);
}

.section:nth-of-type(1) {
	align-content: center;
	justify-content: center;
	text-align: center;
	margin: 2rem 0 6rem 0;
}

.section:nth-of-type(1) img {
	width: 4rem;
	height: 4rem;
	margin-bottom: 2rem;
}

.section:nth-of-type(1) h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 600;
}

.section:nth-of-type(1) p {
	font-size: 1rem;
	font-weight: 400;
	margin: 0 0 1.5rem 0;
}

.section:nth-of-type(1) .buttons a:nth-of-type(1) {
	padding: .5rem 1rem;
	border-radius: 10rem;
	background-color: var(--green500);
	color: white;
	text-decoration: none;
	margin-right: .5rem;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 0.9rem
}

.section:nth-of-type(1) .buttons a:nth-of-type(1):hover {
	background-color: white;
	color: var(--green500);
	border: solid .063rem gray;
}

.section:nth-of-type(1) .buttons a:nth-of-type(2) {
	padding: .5rem 1rem;
	border-radius: 10rem;
	background-color: var(--blue100);
	color: white;
	text-decoration: none;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 0.9rem
}

.section:nth-of-type(1) .buttons a:nth-of-type(2):hover {
	background-color: white;
	color: var(--blue100);
	border: solid .063rem gray;
}

.section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin-bottom: 6rem;
}

.section:nth-of-type(2) h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
	text-align: center;
}

.section:nth-of-type(2) > p:nth-of-type(1) {
	font-size: 1rem;
	font-weight: 400;
	margin: 0 0 3rem 0;
	text-align: center;
}

.section-in-section {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	align-items: center;
	justify-content: center;
	margin-right: -4rem;
}

.section-in-section img {
	width: 25rem;
	height: auto;
}

.section-in-section .bullet-points h4 {
	font-size: .9rem;
	font-weight: 600;
	margin-bottom: .5rem;
	text-align: left;
}

.section-in-section .bullet-points p {
	font-size: .85rem;
	font-weight: 400;
	margin-bottom: 2.25rem;
	text-align: left;
}

.section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 6rem;
}

.section:nth-of-type(3) h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.section:nth-of-type(3) > p {
	font-size: 1rem;
	font-weight: 400;
}

.section:nth-of-type(3) img {
	width: 25rem;
	height: auto;
	margin: 2rem 0 1rem 0;
}

.section:nth-of-type(3) .features {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin-top: 2rem;
}

.section:nth-of-type(3) .features .feature-section {
	align-content: center;
	justify-content: center;
	text-align: center;
	margin: .5rem;
}

.section:nth-of-type(3) .features .feature-section img {
	width: 2rem;
	height: auto;
	margin: 0 0 1.2rem 0;
}

.section:nth-of-type(3) .features .feature-section h5 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.section:nth-of-type(3) .features .feature-section p {
	font-size: .8rem;
}

.section:nth-of-type(4) {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
	text-align: center;
	margin-bottom: 6rem;
}

 .section:nth-of-type(4) img {
	width: auto;
	height: 2rem;
}

.section:nth-of-type(5) {
	align-content: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 6rem;
}

.section:nth-of-type(5) h3 {
	font-size: 1.5rem;
	margin-bottom: .8rem;
	font-weight: 600;
}

.section:nth-of-type(5) p {
	font-size: 1rem;
	font-weight: 400;
	margin: 0 0 1.5rem 0;
}

.section:nth-of-type(5) .buttons a:nth-of-type(1) {
	padding: .5rem 1rem;
	border-radius: 10rem;
	background-color: var(--green500);
	color: white;
	text-decoration: none;
	margin-right: .5rem;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 0.9rem
}

.section:nth-of-type(5) .buttons a:nth-of-type(1):hover {
	background-color: white;
	color: var(--green500);
	border: solid .063rem gray;

}

.section:nth-of-type(5) .buttons a:nth-of-type(2) {
	padding: .5rem 1rem;
	border-radius: 10rem;
	background-color: var(--blue100);
	color: white;
	text-decoration: none;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 0.9rem
}

.section:nth-of-type(5) .buttons a:nth-of-type(2):hover {
	background-color: white;
	color: var(--blue100);
	border: solid .063rem gray;
}

footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	align-content: center;
	justify-content: center;
	text-align: center;
/*	gap: 5rem; */
	background-color: var(--footer-bg);
	width: 100vw;
}

footer .wrapper {
	display: grid;
/*	grid-template-columns: 1fr;
	grid-template-rows: 1fr; */
	align-content: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

footer .wrapper img {
	height: 2rem;
	width: 2rem;
}

footer .links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin: 1.5rem;
}

footer .link {
	font-size: .85rem;
	color: var(--gray700);
	text-decoration: none;
	
}

footer .link:hover {
	font-size: .85rem;
	color: var(--gray700);
	text-decoration: underline;
	
}

footer .socials {
	display: flex;
	flex-direction: row;
/*	align-content: center;
	justify-content: center;
	text-align: center; */
	height: 100%;
	width: 100%;
	gap: .5rem;
    margin-right: 5rem;
}

footer .socials img {
	height: 1rem;
	width: auto;
	display: block;
}

footer .socials a {
	display: block;
}

@media only screen and (max-width: 1000px) {

	body {
		background-image: url("bg-header-mobile.png");
	}
	
	.buttons {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		width: 100vw;
		height: auto;
	}

	.buttons a {
		width: 50%;
		height: auto;
	}

	.section-in-section {
		flex-direction: column;
		margin: auto;
	}

	.section-in-section .bullet-points {
		text-align: center;
	}

	.section:nth-of-type(3) .features {
		flex-direction: column;
	}

	.section:nth-of-type(4) {
		flex-direction: column;
		align-content: center;
		justify-content: center;
		text-align: center;
		margin: 1rem;
		width: 100vw;
	}

	.section:nth-of-type(4) img {
		height: auto;
		width: 4rem;
		gap: 1rem;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		text-align: center;
		padding: 1rem;
		width: 100vw;
	}

	footer .links {
		display: flex;
		flex-direction: column;
/*		align-content: center;
		justify-content: center;
		text-align: center; */
		margin: 1rem;
	}
}
